<div class="cover">
    <div class="container big-container">
        <div class="row d-flex justify-content-center flex-column align-items-center">
            <div class="col-md-6 my-tasks_head">
                <h1>My tasks</h1>
                <p>2 of 7 tasks done</p>
            </div>
            <div class="col-md-12 row my-tasks">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
        </div>
    </div>
</div>